body {
  display: flex;
  justify-content: center;
  background-image: url("../images/game/australie.jpg");
  counter-reset: compteur ;
}

div.table {
  display: flex;
  border-radius: 10px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 900px;

}


div.palette {
  display: flex;
  width: 300px;
  height: 100px;
  border: 2px solid black;
  margin: 30px;
  border-radius: 10px;
  background-color: red;
}

div.palette1{
  width: 100px;
  height: 100px;
  border-radius: 8px 0px 0px 8px;
   background-image: url("../images/game/austal1.jpg");
  background-size: 190px;
}

div.palette2{
  width: 100px;
  height: 100px;
  background-image: url("../images/game/austral3.jpg");
  background-size: 190px;
}

div.palette3{
  width: 100px;
  height: 100px;
  border-radius: 0px 8px 8px 0px;
  background-image: url("../images/game/austrl2.jpg");
  background-size: 190px;
}
form {
  display: flex;
  height: 700px;
  width: 470px;
  flex-flow: row wrap;
  justify-content: center;

}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 3px;
  height: 140px;
  width: 140px;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 5%, rgba(105, 105, 105, 1) 100%, rgba(105, 105, 105, 1) 100%);
  border: 1px solid #ccc;
}

input[id=id]:checked {
  background: yellow;
  position: relative;
  transform: rotateY(40deg);
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

input[id=id2]:checked {
  background: fuchsia;
 /* margin:0px; pour faire un effet de chequer */
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

input[id=id3]:checked {
  background: blue;
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

input[id=id4]:checked {
  background-image: url("../images/game/austal1.jpg");
  background-size: 190px;
  position: relative;
  counter-increment: compteur ;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;

  }
}

input[id=id5]:checked {
  background-color: lime;
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id6]:checked {
  background: maroon;
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id7]:checked {
  background-image: url("../images/game/austral3.jpg");
  background-size: 190px;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id8]:checked {
  background: green;
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id9]:checked {
  background-image: url("../images/game/austrl2.jpg");
  background-size: 190px;
  position: relative;
  counter-increment: compteur 1;

  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

div.bouton{
  display: flex;
  flex-direction: row;

}
a.suivant {
display:flex;
 width:150px;
 line-height:50px;
 justify-content: center;
 background-color: #444;
 color:white;
 text-decoration:none;
 font-family: cursive;
 font-size: 25px;
 text-align: center;
 background: #444;
 background: linear-gradient( #555, #2C2C2C);
 padding: 10px;
}
a.precedant{
display:flex;
 width:150px;
 line-height:50px;
 justify-content: center;
 background-color: #444;
 color:white;
 text-decoration:none;
 font-family: cursive;
 font-size: 25px;
 text-align: center;
 background: #444;
 background: linear-gradient( #555, #2C2C2C);
 padding: 10px;


}
p.oui{
  color: white;
}
p.oui::before {
   content:"score : " counter(compteur);

}
