body {
  display: flex;
  justify-content: center;
  background-color: #443742;
  counter-reset: compteur ;
  background-image: url("../images/game/maroc.jpg");
}

div.table {
  display: flex;
  border-radius: 10px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 900px;

}


div.palette {
  display: flex;
  width: 300px;
  height: 100px;
  border: 2px solid black;
  margin: 30px;
  border-radius: 10px;
  background-color: red;
}

div.palette1{
  width: 100px;
  height: 100px;
  border-radius: 8px 0px 0px 8px;
  background-image: url("../images/game/maroc4.jpg");
  background-size: 190px;
}

div.palette2{
  width: 100px;
  height: 100px;
  background-image: url("../images/game/maroc2.jpg");
  background-size: 190px;
}

div.palette3{
  width: 100px;
  height: 100px;
  background-image: url("../images/game/maroc1.jpg");
  background-size: 190px;
}
div.palette4{
  width: 100px;
  height: 100px;
  border-radius: 0px 8px 8px 0px;
  background-image: url("../images/game/maroc3.jpeg");
  background-size: 190px;
}
form {
  display: flex;
  height: 700px;
  width: 700px;
  flex-flow: row wrap;
  justify-content: center;

}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 3px;
  height: 110px;
  width: 110px;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 5%, rgba(105, 105, 105, 1) 100%, rgba(105, 105, 105, 1) 100%);
  border: 1px solid #ccc;
}

input[id=id]:checked {

  position: relative;
  transform: rotateY(40deg);
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

input[id=id2]:checked {
  background: fuchsia;
 /* margin:0px; pour faire un effet de chequer */
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

input[id=id3]:checked {
  background: blue;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

input[id=id4]:checked {
  background-image: url("../images/game/maroc1.jpg");
  background-size: 190px;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;

  }
}

input[id=id5]:checked {
  background-color: lime;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id6]:checked {
  background: maroon;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id7]:checked {
  background: aqua;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id8]:checked {
  background-image: url("../images/game/maroc2.jpg");
  background-size: 190px;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id9]:checked {
  background: purple;
  position: relative;
  counter-increment: compteur 1;

  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id10]:checked {
  background: #FFDAB9;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id11]:checked {
  background: #FF6347;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id12]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id13]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id14]:checked {
  background-image: url("../images/game/maroc3.jpeg");
  background-size: 190px;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id15]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id16]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id17]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id18]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id19]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id20]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id21]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id22]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id23]:checked {
  background-image: url("../images/game/maroc4.jpg");
  background-size: 190px;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id24]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
input[id=id25]:checked {
  background: #B0E0E6;
  position: relative;
  counter-increment: compteur 1;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

div.bouton{
  display: flex;
  flex-direction: row;

}
a.suivant {
display:flex;
 width:150px;
 line-height:50px;
 justify-content: center;
 background-color: #444;
 color:white;
 text-decoration:none;
 font-family: cursive;
 font-size: 25px;
 text-align: center;
 background: #444;
 background: linear-gradient( #555, #2C2C2C);
 padding: 10px;
}
a.precedant{
display:flex;
 width:150px;
 line-height:50px;
 justify-content: center;
 background-color: #444;
 color:white;
 text-decoration:none;
 font-family: cursive;
 font-size: 25px;
 text-align: center;
 background: #444;
 background: linear-gradient( #555, #2C2C2C);
 padding: 10px;


}
p.oui{
  color: white;
}
p.oui::before {
   content:"score : " counter(compteur);

}
div#divlogo {
  height: 30%;
  width: 90%;
  animation-name: divcentre;
  animation-duration: 1.5s;
}

div#titre {
  position: absolute;
  z-index: 1;
  color: white;
  left: auto;
  right: auto;
  font-size: 3em;
  font-family: 'Lilita One';
  height: 30%;
  width: 36%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div#titre h1 {
  text-align: center;
}

div#contenant {
  position: absolute;
  z-index: 2;
  width : 36%;
  height: 30%;
}s
