/* css du menu d'accueil */

@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #443742;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;   /* Lors des animations cela permet de masquer la barre de scroll car les éléments viennent d'en dehors des dimensions de l'écran */
}

#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#blocgauche {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article#conteneuregle {
  box-sizing: border-box;
  padding: 10px;
  width: 90%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #FFC857;
  border-radius: 10px;
  color: white;
  animation-name: regle;
  animation-duration: 1.5s;
  transition-duration: 1s;
  font-family: 'Roboto Condensed', sans-serif;
}

@keyframes regle {
  from {
    margin-right: 200%;
  }

  to {
    margin-right: 0%;
  }
}

article#conteneuregle:hover {
  margin-top: -10%;
  height: 70%;
  background-color: #846c5b;
}

article#conteneuregle h2 {
  font-size: 2.3em;
  margin-top: 5%;
  margin-bottom: 5%;
}

article#conteneuregle p {
  font-size: 1.5em;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

div#blocmilieu {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#divlogo {
  height: 30%;
  width: 90%;
  animation-name: divcentre;
  animation-duration: 1.5s;
}

div#titre {
  position: absolute;
  z-index: 1;
  color: white;
  left: auto;
  right: auto;
  font-size: 3em;
  font-family: 'Lilita One';
  height: 30%;
  width: 36%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div#titre h1 {
  text-align: center;
}

div#contenant {
  position: absolute;
  z-index: 2;
  width : 36%;
  height: 30%;
}

#carre1 {
  background-color: #79A1C4;
  width: 50px;
  height: 50px;
  transform: rotate(40deg);
  position: absolute;
  top: 5%;
  left: 28%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre1:hover {
  background-color: #F6FC43;
  width: 53px;
  height: 53px;
}

#carre2 {
  background-color: #51F353;
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
  position: absolute;
  top: 10%;
  left: 62%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre2:hover {
  background-color: #F35651;
  width: 53px;
  height: 53px;
}

#carre3 {
  background-color: #F35651;
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
  position: absolute;
  top: 75%;
  left: 25%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre3:hover {
  background-color: #C98AF1;
  width: 53px;
  height: 53px;
}

#carre4 {
  background-color: pink;
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
  position: absolute;
  top: 75%;
  left: 63%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre4:hover {
  background-color: #FBA442;
  width: 53px;
  height: 53px;
}


div#conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

a#play-button {
  display: block;
  text-align: center;
  line-height: 80px;
  width : 200px;
  height: 80px;
  margin-top: 20px;
  background-color: #FFC857;
  color: #443742;
  border : none;
  border-radius: 15px;
  font-size: 30px;
  text-decoration: none;
  transition-duration: 0.4s; /* Definit la durée des animation, ici l'orsque l'on survole le bouton */
  animation-name: button;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

a#play-button:hover {
  width: 210px;
  height: 85px;
}

@keyframes button {
  from {
    width: 200px;
    height: 80px;
    margin-top: 20px;
  }

  50% {
    width: 202px;
    height: 82px;
    margin-top: 18px;
  }

  to {
    width: 200px;
    height: 80px;
    margin-top: 20px;
  }
}

#input-text {
  width: 290px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  border: 3px solid #846c5b;
}

#input-text:focus {
  border-radius: 10px;
  outline: none;
}

@keyframes divcentre {
  from {
    margin-top: 200%;
  }

  to {
    margin-top: 0%;
  }
}

#blocdroite {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div#divreseau {
  width: 80%;
  height: 10%;
  border: 3px solid #FFC857;
  border-radius: 10px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40%;
  animation-name: divdroite;
  animation-duration: 1.5s;
}

div#divreseau a {
  width: 60px;
  height: 60px;
}

div#divreseau a:hover .logo {
  width: 63px;
  height: 63px;
}

.logo {
  width: 60px;
  height: 60px;
  transition-duration: 0.5s;
}

@keyframes divdroite {
  from {
    margin-left: 200%;
  }

  to {
    margin-left: 0%;
  }
}

article#conteneurscore {
  width: 80%;
  height: auto;
  border: 4px solid #FFC857;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  animation-name: divdroite;
  animation-duration: 1.5s;
}

article#conteneurscore h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

hr {
  width: 80%;
  margin-bottom: 15px;
  border-color: #FFC857;
}

article#conteneurscore table {
  color: white;
  width: 95%;
  height: 300px;
  background-color: #443742;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}

.casetitre {
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  #blocgauche {
    display: none;
  }

  #blocdroite {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  #blocgauche {
    display: none;
  }

  #blocdroite {
    display: none;
  }

  div#contenant {
    display: none;
  }

  #input-text {
    display: none;
  }
}
