/* On supprime toutes les marges de bases */
*
{
  margin: 0;
  padding: 0;
}
html
{
  height: 100%;
}
body
{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #443742;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
div
{
  height: 100%;
}
/* - Début : Zone du milieu - */
#mid
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}
/* - Début : Zone haute du milieu - */
#topmid
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
/* - Fin : Zone haute du milieu - */
/* - Début : Zone basse du milieu - */
#botmid
{
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* - Début : Grille des niveaux - */
#levelgrid
 {
   background-color: #443742;
   border: 5px solid #FFC857;
   border-radius: 10px;

   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition-duration: 1s;

 }
 /* Changer la couleur de fond lorsque l'on passe la souris */
 #levelgrid:hover
 {
   background-color: #846c5b;
 }
 /* Centrer les levels dans la grille de niveaux */
.level
{
  display: flex;
  align-items: center;
}
/* - Fin : Grille des niveaux - */
/* - Fin : Zone basse du milieu - */
/* - Fin : Zone du milieu - */
/* Début : Logo */
div#divlogo {
  display: flex;
  justify-content: center;
  align-items: center;

}

div#titre {
  position: absolute;
  z-index: 1;
  color: white;
  left: auto;
  right: auto;
  font-size: 3em;
  font-family: 'Lilita One';
  height: 30%;
  width: 36%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div#titre h1 {
  text-align: center;
}

div#contenant {
  position: absolute;
  z-index: 2;
  width : 36%;
  height: 30%;
}

#carre1 {
  background-color: #79A1C4;
  width: 50px;
  height: 50px;
  transform: rotate(40deg);
  position: absolute;
  top: 5%;
  left: 28%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre1:hover {
  background-color: #F6FC43;
  width: 53px;
  height: 53px;
}

#carre2 {
  background-color: #51F353;
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
  position: absolute;
  top: 10%;
  left: 62%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre2:hover {
  background-color: #F35651;
  width: 53px;
  height: 53px;
}

#carre3 {
  background-color: #F35651;
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
  position: absolute;
  top: 75%;
  left: 25%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre3:hover {
  background-color: #C98AF1;
  width: 53px;
  height: 53px;
}

#carre4 {
  background-color: pink;
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
  position: absolute;
  top: 75%;
  left: 63%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

#carre4:hover {
  background-color: #FBA442;
  width: 53px;
  height: 53px;
}
/* Fin : Logo */
