/* css de la page des scores */

@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #443742;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

div#header-gauche {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

div#header-centre {
  width: 40%;
  height: 100%;
}

div#divlogo {
  width: 100%;
  height: 100%;
}

div#titre {
  position: absolute;
  z-index: 1;
  color: white;
  left: auto;
  right: auto;
  font-size: 2.7em;
  font-family: 'Lilita One';
  height: 30%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

div#header-droite {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

div#divreseau {
  width: 80%;
  height: 65%;
  border: 3px solid #FFC857;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}

div#divreseau a {
  width: 60px;
  height: 60px;
}

div#divreseau a:hover .logo {
  width: 63px;
  height: 63px;
}

.logo {
  width: 60px;
  height: 60px;
  transition-duration: 0.5s;
}

div#divnote {
  width: 80%;
  height: 65%;
  border: 3px solid #FFC857;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  font-size: 2em;
  font-family: 'Lilita One';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div#divnote p {
  margin-top: 2%;
  margin-bottom: 5%;
}

div#divcarre {
  display: flex;
  flex-direction: row;
}

a.square {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #846c5b;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.square p {
  margin-top: 8px;
}

div#divcarre a:active { background-color: #FFC857; }

div#divcarre a:visited { background-color: #FFC857; }

article {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
}

div#article-gauche {
  height: 100%;
  width: 30%;
}

div#article-centre {
  height: 100%;
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div#article-centre h2 {
  font-size: 10em;
  font-family: 'Lilita One';
  margin-bottom : 10%;
}

div#article-centre p {
  font-size: 2em;
  margin-bottom : 2%;
}

hr {
  width: 80%;
  margin-bottom: 15px;
  border-color: #FFC857;
}

div#article-centre table {
  color: white;
  width: 50%;
  height: 300px;
  background-color: #443742;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}

div#article-droite {
  height: 100%;
  width: 30%;
}



footer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  color: white;
}

div#footer-gauche {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div#footer-gauche p {
  font-size: 1.5em;
  font-family: 'Lilita One';
  animation-name: footer;
  animation-duration: 1.5s;
}

div#footer-centre {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

div#credits {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFC857;
  border-radius: 10px;
  animation-name: footer;
  animation-duration: 1.5s;
}

div#credits h1 {
  font-size: 1.3em;
  margin-bottom: 1%;
  text-decoration: underline;
}


div#footer-droite {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

div#footer-droite img {
  height: 80%;
  border-radius: 10px;
  margin-right: 5%;
  animation-name: footer;
  animation-duration: 1.5s;
}

@keyframes footer {
  from {
    margin-top: 200%;
  }

  to {
    margin-top: 0%;
  }
}


@media screen and (max-height: 900px) {
  div#divnote {
    display: none;
  }

  div#divreseau {
    display: none;
  }

  div#credits{
    display: none;
  }
}
